<div class="job-container">
  <div id="toast" class="toast" style="display: none">
    <p id="toast-message"></p>
  </div>
  <% jobs.forEach((job) => { %>
  <div class="job-card">
    <div class="company-details">
      <div id="company-hiring-status">
        <button>
          Actively Hiring <span><i class="fa-solid fa-chart-line"></i></span>
        </button>
      </div>
      <div id="company-name">
        <h3><%= job.companyName %></h3>
      </div>
      <div id="job-designation">
        <span id="job-category"><%= job.jobCategory %></span>
        <span id="job-designation"><%= job.jobDesignation %></span>
      </div>
    </div>
    <div class="job-details">
      <div id="job-location">
        <h5><i class="fas fa-map-marker-alt"></i> <%= job.jobLocation %></h5>
      </div>
      <div id="salary">
        <h5>&#8377; <%= job.salary %></h5>
      </div>
      <div id="skills">
        <% job.skillsRequired.forEach((skill) => { %>
        <button><%= skill %></button>
        <% }) %>
      </div>
      <div id="view-details">
        <a class="button" href="/jobs/<%= job.id %>"> View Details</a>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<script>
  // Show the toast message if the email was sent successfully
  <% if (emailSent) { %>
    showToast("Email sent successfully!");
  <% } %>

  // Toast display function
  function showToast(message) {
    const toast = document.getElementById("toast");
    const toastMessage = document.getElementById("toast-message");
    toastMessage.innerText = message;
    toast.style.display = "block";
    toast.classList.add("show");

    // Hide toast after 3 seconds
    setTimeout(() => {
      toast.classList.remove("show");
      toast.style.display = "none";
    }, 3000);
  }
</script>
